DISCORD_WEBHOOK=PASTE_WEBHOOK_URL_HERE
ROFINDER_WORKERS='1'
ROFINDER_REQUEST_INTERVAL='3.0'
ROFINDER_REQUEST_TIMEOUT='10'
ROFINDER_GROUP_ID_MIN='1000000'
ROFINDER_GROUP_ID_MAX='9999999'
ROFINDER_CONSOLE_PROGRESS='false'
